option_settings:
  aws:elasticbeanstalk:application:environment:
    BOSS_EMAIL: j.metevier@gmail.com
    DBPW: cain
    NODE_ENV: PRODUCTION
    PORT: 8081
    SENDGRID_API_KEY: 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
    andrewtest: puravida
    authentication: true
    jack: wonderjack
    lan: lab
    las: lab
    msn: lab
    mss: lab
    test: wonderboy
